
 
.principal{ 
    width: 400px;
}

button{
    width: 30px;
    height: 30px;
}
   
    .clac-button{
        background-color: orange;
        border-color: black;
        
    }  

    .clac-button2{
        background-color: greenyellow;
    }  

#pantalla{
    background-color: rgb(175, 174, 174);
   text-align: right;

}   


























